@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: #282828;
  cursor: url("../img/cursor.png"), auto;
}

.btn {
  background-color: #439888;
  color: #fff;
  -webkit-box-shadow: 0px 4px 28px 2px rgba(67, 152, 136, 0.28);
          box-shadow: 0px 4px 28px 2px rgba(67, 152, 136, 0.28);
  border-radius: 16px;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  max-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
}

.navbar__logo {
  max-width: 245px;
  padding: 30px 50px;
  border-right: 1px solid #F2F2F2;
  cursor: pointer;
}

.navbar__img {
  height: 100%;
  max-width: 100%;
}

.menu {
  padding-left: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  cursor: pointer;
}

.menu__item {
  position: relative;
  display: block;
  height: 43px;
  min-width: 32px;
  margin-top: auto;
  margin-right: 37px;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.menu__item:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu__item:hover {
  font-weight: 700;
}

.menu__item:hover:after {
  background-color: #439888;
  -webkit-box-shadow: 0px 2px 28px 2px rgba(67, 152, 118, 0.38384);
          box-shadow: 0px 2px 28px 2px rgba(67, 152, 118, 0.38384);
}

@media screen and (max-width: 800px) {
  .menu {
    padding-left: 50px;
  }
  .navbar__logo {
    width: 20%;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media screen and (max-width: 600px) {
  .navbar__logo {
    padding-right: 15px;
    padding-left: 30px;
  }
  .menu {
    padding-left: 20px;
  }
}

@media screen and (max-width: 450px) {
  .navbar__logo {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
}

.header {
  position: relative;
  min-height: 100vh;
  background: url("../img/bg.png") center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.header__hero {
  margin-left: 8%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: 'Lexend', sans-serif;
  width: 60%;
  z-index: 10;
  position: relative;
}

.header__title {
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 2%;
}

.header__subtitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 3%;
  line-height: 1.5;
  width: 80%;
}

.header__btn {
  width: 248px;
  height: 68px;
}

.sceneObj {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1440px) {
  .header__hero {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .header__hero {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .header__title {
    font-size: 86px;
  }
  .header__subtitle {
    width: 90%;
  }
  .header__hero {
    padding-top: 13%;
  }
}

@media screen and (max-width: 800px) {
  .header__title {
    font-size: 72px;
  }
  .header__subtitle {
    width: 90%;
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  .header__title {
    font-size: 68px;
    width: 95%;
  }
  .header__subtitle {
    width: 95%;
    font-size: 22px;
  }
  .header__hero {
    padding-top: 20%;
  }
}

@media screen and (max-width: 600px) {
  .header__title {
    font-size: 56px;
  }
  .header__subtitle {
    width: 95%;
    font-size: 22px;
  }
}

@media screen and (max-width: 450px) {
  .header__title {
    font-size: 50px;
  }
  .header__subtitle {
    font-size: 20px;
  }
  .header__hero {
    padding-top: 25%;
  }
}

@media screen and (max-width: 350px) {
  .header__title {
    font-size: 48px;
  }
  .header__hero {
    padding-top: 30%;
  }
}
/*# sourceMappingURL=style.css.map */