.header
    position: relative
    min-height: 100vh
    background: url('../img/bg.jpg') center no-repeat
    background-size: cover
    overflow: hidden
    &__hero
        margin-left: 8%
        padding-top: 10%
        padding-bottom: 10%
        font-family: 'Lexend', sans-serif
        width: 60%
        z-index: 10
        position: relative
    &__title
        font-size: 96px
        font-weight: 700
        margin-bottom: 2%
    &__subtitle
        font-size: 24px
        font-weight: 500
        margin-bottom: 3%
        line-height: 1.5
        width: 80%
    &__btn
        width: 248px
        height: 68px

.sceneObj
    position: absolute
    top: 0
    left: 0
    width: 100px
    height: 100px
@media screen and ( max-width: 1440px )
    .header
        &__hero
            width: 70%
@media screen and ( max-width: 1200px )
    .header
        &__hero
            width: 90%
@media screen and ( max-width: 1000px )
    .header
        &__title
            font-size: 86px
        &__subtitle
            width: 90%
        &__hero
            padding-top: 13%
@media screen and ( max-width: 800px )
    .header
        &__title
            font-size: 72px
        &__subtitle
            width: 90%
            font-size: 22px
@media screen and ( max-width: 700px )
    .header
        &__title
            font-size: 68px
            width: 95%
        &__subtitle
            width: 95%
            font-size: 22px
        &__hero
            padding-top: 20%
@media screen and ( max-width: 600px )
    .header
        &__hero
            width: 96%
            margin-left: 20px
        &__title
            font-size: 56px
        &__subtitle
            width: 95%
            font-size: 22px
            line-height: 1.75
@media screen and ( max-width: 500px )
    .header
        &__title
            font-size: 45px
            margin-bottom: 28px
        &__subtitle
            font-size: 18px
            margin-bottom: 32px
        &__hero
            padding-top: 25%
@media screen and ( max-width: 370px )
    .header
        &__title
            font-size: 40px
        &__hero
            padding-top: 30%
@media screen and ( max-width: 320px )
    .header
        &__title
            font-size: 36px
